# .NET build outputs
**/bin
**/obj

# IDE
**/.vs
**/.idea
**/*.user
**/*.suo

# Git / OS
.git
.gitignore
.github
**/.DS_Store

# Frontend
Frontend/node_modules
Frontend/dist
Frontend/.angular

# Docs / misc
**/*.md
**/CHANGELOG.md
