# Database Configuration
DB_SERVER=sqlserver
DB_NAME_MAIN=MedipulseMain
DB_NAME_AUDIT=MedipulseAudit
SA_PASSWORD=MediPulse@2024!Dev

# JWT Configuration
JWT_KEY=YourSecretKeyMinimum32CharactersLongForJWT!!!
JWT_ISSUER=MediPulseAuthService
JWT_AUDIENCE=MediPulseAPI
